beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
dateparser==1.1.8
fonttools==4.39.4
GoogleNews==1.6.8
idna==3.4
jieba==0.42.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
regex==2023.5.5
requests==2.30.0
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
tzdata==2023.3
tzlocal==5.0
urllib3==2.0.2
wordcloud==1.9.1.1
